*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Inter,sans-serif;

}

html,
body,
#root{

height:100%;

background:#f8fafc;

}

button{

font-family:inherit;

}

input,
textarea{

font-family:inherit;

}

a{

text-decoration:none;

color:inherit;

}