.navbar{

height:75px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

background:#07111f;

border-bottom:1px solid rgba(255,255,255,.08);

}

.navbar-left{

display:flex;

align-items:center;

gap:18px;

}

.navbar-left h2{

color:white;

font-size:24px;

}

.menu-btn{

width:45px;

height:45px;

border:none;

background:#13263f;

color:white;

border-radius:10px;

cursor:pointer;

font-size:22px;

}

.menu-btn:hover{

background:#1c3557;

}

.navbar-right{

display:flex;

align-items:center;

gap:18px;

}

.nav-icon{

width:45px;

height:45px;

border:none;

border-radius:10px;

cursor:pointer;

background:#13263f;

color:white;

font-size:22px;

}

.nav-icon:hover{

background:#1d3556;

}

.user-box{

display:flex;

align-items:center;

gap:12px;

}

.avatar{

font-size:42px;

color:#10b981;

}

.user-box h4{

margin:0;

color:white;

font-size:15px;

}

.user-box span{

font-size:13px;

color:#94a3b8;

}

.logout-btn{

width:45px;

height:45px;

border:none;

background:#ef4444;

color:white;

border-radius:10px;

cursor:pointer;

font-size:20px;

}

.logout-btn:hover{

background:#dc2626;

}